@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --back-btn-primary: #0d6efd;
    --padding-btn: 10px 15px;
    --radius-btn-primary:20px;
    --margin-top-all-container: 20px 0 0 0;
    --margin-bottom-all-container: 80px 0 0 0;
    --font-size-primary:16px;
    --font-family-primary: 'Poppins', sans-serif;
    --icon-size: 20px;
    --icon-color: #0d6efd;
    --radius-container:15px
    
}

Body{
   font-family: var(--font-family-primary);
   font-size: var(--font-size-primary);
}
.icon {
    color: var(--icon-color); /* Couleur personnalisée */
   font-size: var(--icon-size);
    margin-right: 15px; /* Espace à droite de l'icône */
    transition: color 0.3s ease, transform 0.3s ease; /* Transition douce pour couleur et taille */
}

/* Changer la couleur et agrandir légèrement au survol de l'icône */
.icon:hover {
    color: white; /* Couleur sombre au survol */
    transform: scale(1.1); /* Agrandir légèrement au survol */
}




.btn-primary{
    background-color:var(--back-btn-primary) !important ;
    border: none !important;
    transition: all 0.3s ease !important;
    border-radius: var(--radius-btn-primary) !important;
   padding: var(--padding-btn) !important;
   text-align: center;
   font-size: var(--font-size-btn);
}

 .btn-primary:hover {
    transform: scale(1.05);
  }

  .btn-dark{
    border: none !important;
    transition: all 0.3s ease !important;
    border-radius: var(--radius-btn-primary) !important;
   padding: var(--padding-btn) !important;
   text-align: center;
   font-size: var(--font-size-btn);

  }

  .btn-dark:hover{
    transform: scale(1.05) !important;
  
  }


  .btn-agency {
    background-color: transparent !important; /* Fond transparent */
    color: var(--back-btn-primary) !important; /* Texte de la couleur principale */
    border: 2px solid var(--back-btn-primary) !important; /* Bordure de la couleur principale */
    border-radius: var(--radius-btn-primary) !important;
    padding: var(--padding-btn) !important;
    transition: all 0.3s ease !important;
    text-align: center;
    font-size: var(--font-size-btn);
}

.btn-agency:hover {
    background-color: var(--back-btn-primary) !important; /* Fond de la couleur principale au survol */
    color: white !important; /* Texte en blanc au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.mb{
   margin-bottom: 20px;
}

  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(26, 20, 20, 0.4),rgba(22, 18, 18, 0.4)), url("/public/img/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 10%;
  }

  #hero .container {
    position: relative;
  }

  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 36px;
      line-height: 44px;
    }
  }

  #hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
  }

  .mt{
    margin: var(--margin-top-all-container)!important;
  }



  /* Pour les petits écrans */
@media (max-width: 576px) {
    .icon {
      font-size: 18px;
    }
  
    #hero h1 {
      font-size: 36px;
      line-height: 44px;
    }
  
    .btn-primary, .btn-dark {
      padding: 8px 16px !important;
      font-size: 14px;
    }
  
    header h1 {
      font-size: 24px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-bottom: 10px;
    }

    .disp-none{
        display: none !important;
    }
  }
  
  /* Pour les tablettes */
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 50px;
    }
  
    header h1 {
      font-size: 16px;
    }
  
    nav ul {
      flex-direction: row;
    }
  
    nav ul li {
      margin-bottom: 0;
    }

    .disp-none{
        display: none !important;
    }
  }
  
  /* Pour les grands écrans */
  @media (min-width: 1200px) {
    #hero h1 {
      font-size: 56px;
      line-height: 64px;
    }
  
    .icon {
      font-size: 23px;
    }
  }

  /*--------------------------------------------------------------
# Reservation
--------------------------------------------------------------*/


.reservation-container {
  position: absolute; /* Position absolue pour que le conteneur se positionne par rapport au conteneur hero */
  bottom: -26px; /* Espace depuis le haut du conteneur hero */
  left: 10%; /* Centrage horizontal */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centre horizontalement */

  max-width: 1200px; /* Largeur maximale pour le conteneur */
  background-color: #f8f9fa; /* Couleur de fond claire */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
  background-color: #fff !important;
  padding: 30px !important; /* Padding interne */
}
@media (max-width:768px){
  .reservation-container {
    position: absolute; /* Position absolue pour que le conteneur se positionne par rapport au conteneur hero */
    bottom: -190px; /* Espace depuis le haut du conteneur hero */
    left: 0.2%; /* Centrage horizontal */
    margin: 20px;

  
  }
}

.reservation-item {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 20px;
 
  }

   .input-icon{
    position:relative;
    
  }
  .input-group ul{
    position: absolute;
    top: 40px;
    left: 2px;
    width: 400px;
    padding-left: 30px;
    border-radius:var(--radius-container)!important ;


  }
  
  .input-group {
    display: flex;
    align-items: center !important;
    flex-wrap: nowrap !important;
    justify-content: center;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);


  }
  
  .input-icon {
    padding: 0 10px;
    color: #0d6efd;
  }
  
  .form-control {
    width: 100%;
    padding-left: 40px; /* Space for icon */
  border: none!important; /* Enlever la bordure */
  border-radius: 20px;
  box-sizing: border-box; /* Ensure padding is included in total width */
  outline: none; 

  }
@media (max-width:768px){
  .form-control, .date{
    margin-right: 49px !important;
  }

}
 
  .form-control:focus {
    box-shadow: none !important; /* Enlever le box-shadow par défaut de Bootstrap */
    background-color: transparent; /* Garder la couleur de fond initiale ou changer selon vos besoins */
  }
  
  .suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    border-bottom: 1px solid #ced4da !important;
  }

  /* Masquer la barre de défilement pour les navigateurs modernes */
.suggestions-list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Masquer la barre de défilement pour Firefox */
  .suggestions-list {
    scrollbar-width: none; /* Firefox */
  }
  
  /* Masquer la barre de défilement pour IE et Edge */
  .suggestions-list::-ms-scrollbar {
    width: 0;
    height: 0;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    font-weight: 700;
  
  }
  
  .suggestions-list li:hover {
    background-color: #f8f9fa;
  }


  .suggestions-list li .fa-building,   .suggestions-list li .faMapMarkerAlt{
    margin-right: 10px; /* Space between icon and text */
    color: #0d6efd; /* Matches the primary theme color */
    font-size: 1.2rem; /* Slightly larger icon size for emphasis */
  }








  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  margin-top: 56px;
  background-color: #424649; /* Gris foncé */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px 0;
}

.footer h4 {
  color: #0D6EFD; /* Bleu */
  margin-bottom: 10px;
  font-size: 18px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #0D6EFD; /* Bleu lors du survol */
}

.social-icons a {
  margin: 0 5px;
  font-size: 20px;
}

.footer-bottom {

  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin: 20px 0;
  }
}

  

  


  















